<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="proy1_2022.My.MySettings.proy1_2022ConnectionString"
            connectionString="Data Source=LABP-3\SQLEXPRESS;Initial Catalog=proy1_2022;Persist Security Info=False;User ID=sa ; Password=2022"
            providerName="System.Data.SqlClient" />
        <add name="proy1_2022.My.MySettings.proy1_2022ConnectionString1"
            connectionString="Data Source=LABP-3\SQLEXPRESS;Initial Catalog=proy1_2022;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>